.filter-modal{
    font-family: "Degular";
    text-align: left;
}

.period-btn {
    font-family: "Degular";
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 18px;
    border: 2px solid #EFF1F6;
}

.selected-period{
    color: white;
    background-color: black;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}