.balance-title {
    font-family: "Degular";
    font-weight: 500;
}

.info-icon {
    font-family: "Degular";
    font-weight: 700;
    text-align: left;
    font-size: 28px;
    line-height: 38px;
}