@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Degular';
  src: url('/src/assets/fonts/Degular-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('/src/assets/fonts/Degular-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Degular';
  src: url('/src/assets/fonts/Degular-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('/src/assets/fonts/Degular-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Degular';
  src: url('/src/assets/fonts/Degular-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('/src/assets/fonts/Degular-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Degular';
  src: url('/src/assets/fonts/Degular-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('/src/assets/fonts/Degular-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Degular';
  src: url('/src/assets/fonts/Degular-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('/src/assets/fonts/Degular-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Degular';
  src: url('/src/assets/fonts/Degular-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('/src/assets/fonts/Degular-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Degular';
  src: url('/src/assets/fonts/Degular-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('/src/assets/fonts/Degular-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  /* display: flex; */
}

/* .boro{
  border: 1px solid black;
} */